## Header that shows institution and/or banner logos

<header role="banner" class="Mrphs-headerLogo" style=" background: white;height:75px">
    <div class="logohufi" style="float: left;width: 35%;text-align: left;">
       <a href="/"> <Image class="" style="float:left" src="/library/image/hufi.png"></Image></a>
    </div>    
    <div class="infoschool" style="">
       <Image class="" style="float:left;width:40%" src="/library/image/hufi-text.png"></Image>
    </div>
    #parse("/vm/morpheus/includeLoginNav.vm")
</header>